extends layout

block content
  - let emailVal = (email) ? email : ''
  - let noUserMessage = (noUser && noUser[0]) ? noUser[0] : ''
  p 
    a(href="/") Back
  h1 Log in
  form(method="POST" novalidate)
    p= noUserMessage
    label(for='email') Email 
    div: input(type="email" name="email" id="email" value=emailVal)
    p= (errorMessages && errorMessages.email) ? errorMessages.email : ''

    label(for='password') Password
    div: input(type="password" name="password" id="password")
    p= (errorMessages && errorMessages.password) ? errorMessages.password : ''

    div: input(type="submit" value="Log in up")

    