nav
  - let currentUser = (user) ? user : null
  
  ul 
    //- Prints admin links
    if currentUser && currentUser.admin
      li 
        a(href="/logout") Log out

    //- Print member links
    else if currentUser && currentUser.member
      li 
        a(href="/create") Create message 
      li 
        a(href="/logout") Log out

    //- Print non-member links
    else if currentUser && !currentUser.member
      li 
        a(href="/create") Create message 
      li 
        a(href="/joinclub") Join the club
      li 
        a(href="/logout") Log out

    //- Print unregistered user links
    else 
      li 
        a(href="/signup") Sign up
      li 
        a(href="/login") Log in